/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9333ea;
  --ifm-color-primary-dark: #7e22ce;
  --ifm-color-primary-darker: #6d21aa;
  --ifm-color-primary-darkest: #5b1a8a;
  --ifm-color-primary-light: #a855f7;
  --ifm-color-primary-lighter: #b366f8;
  --ifm-color-primary-lightest: #c084fc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a855f7;
  --ifm-color-primary-dark: #9333ea;
  --ifm-color-primary-darker: #7e22ce;
  --ifm-color-primary-darkest: #6d21aa;
  --ifm-color-primary-light: #b366f8;
  --ifm-color-primary-lighter: #c084fc;
  --ifm-color-primary-lightest: #d8b4fe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
